<link rel="stylesheet" type="text/css" href="/stylesheets/app.css"/>

<h1> Create New Planet </h1>

{% block pageName %} Create a new Planet {% endblock %}

{% block main_content%}
    {% include 'planet/_form.twig' %}
{% endblock %}