{% extends 'layouts/_default.twig' %}


{% block main_content %}
    <h1>All planets:</h1>
    <ul>
        {% for planet in planets %}
            <li>
                {{planet.name}}-
                <a href="/planets/{{planet.id}}">Show</a> | 
                <a href="/planets/{{planet.id}}/edit">Edit</a> |
                <a href="/planets/{{planet.id}}/delete">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <a href="/planets/new">Discover New Planet</a>
{% endblock %}