<h1> Edit {{galaxy.name}} </h1>

{% block pageName %} Edit {{galaxy.name}} {% endblock %}

{% block main_content%}
    {% include 'galaxy/_form.twig' with {"galaxy": galaxy} %}
{% endblock %}

<p>
    <a href= "/galaxies/{{galaxy.id}}/delete" > Delete galaxy </a> <br/>
    <a href= "/galaxies/" > View all galaxies </a> <br/>
</p>