{% extends 'layouts/_default.twig' %}

{% block main_content %}
    <h1>All galaxies:</h1>
    <ul>
        {% for galaxy in galaxies %}
            <li>
                {{galaxy.name}}-
                <a href="/galaxies/{{galaxy.id}}">Show</a> | 
                <a href="/galaxies/{{galaxy.id}}/edit">Edit</a> |
                <a href="/galaxies/{{galaxy.id}}/delete">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <a href="/galaxies/new">Discover New galaxy</a>
{% endblock %}